<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.payeat">

    <application
        android:name=".Database"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplitBillActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ManagerMenuActivity" />
        <activity android:name=".RestaurantOccupancyActivity" />
        <activity android:name=".ExistOrdersActivity" />
        <activity android:name=".BonAppetitActivity" />
        <activity android:name=".ManagerLoginActivity" />
        <activity android:name=".MenuByTitleActivity" />
        <activity android:name=".MainMenuActivity" />
        <activity android:name=".ManagerOptionsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>